[build]
  publish = "public"
  command = "npm run build"
  
[build.environment]
  NODE_VERSION = "18"
  YARN_VERSION = "1.13.0"
  YARN_FLAGS = "--no-ignore-optional"
  NPM_FLAGS="--legacy-peer-deps"



